 .navigation {
    display: inline-flex;
    justify-content: flex-end;
    width: auto;
}
 .navigation > a {
    /* margin: auto 5px; */
    margin: auto 10px auto 5px;
    text-transform: uppercase;
    color: var(--text);
}